@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Carter+One|Merienda');
@import url('https://fonts.googleapis.com/css?family=Viga');
*{
  margin: 0;
  padding: 0;
}

/* NOTE: Call of whole body */
body{

}
.callWholeDiv{
  position: absolute;
  top: 65%;
  right: 0;

  height: auto;
  z-index: 1;
  position: fixed;
}
.caaa{
  transform: skew(-13deg, 0deg);
  margin-right: -5px;
  background: orange;
  font-family: fantasy;
  float: right;
  color: white;
  padding: 8px;
  width: 180px;
  height: 50px;
  font-size: 25px;
  transition: .5s linear;
}
.caaaa{
  transform: skew(-9deg, 0deg);

  margin-right: -5px;
  background: blue;
  font-family: fantasy;
  float: right;
  color: white;
  padding: 8px;
  width: 190px;
  height: 50px;
  font-size: 25px;
  transition: .5s linear;
}
.caaaa a{
  color: white;
}
.caaa:hover{
  width: 230px;
  transition: .5s linear;
}
.caaaa:hover{
  width: 230px;
  transition: .5s linear;
}


.caaa a{
  color: blue;
}
.caaa a:hover{
  text-decoration: none;
  color: white;
}
.caaaa a:hover{
  text-decoration: none;
  color: orange;
}
/* NOTE: Navigation style */
nav{
  background: #ffffff30;
  /* position: fixed; */
  position: absolute;

  right: 0;

  width: 100%;
  padding: 0 ;
  text-align: center;
  /* background: transparent; */
  /* padding-right: 100px; */
 /* background: #ccc1c1; */
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  justify-content: center;

}

.colorMenu{

  background: black;


}
.colorMenu:hover{

  background: black;


}

nav ul{
  position: relative;
	float:right;
  padding: 0;

  margin: 0 auto;
}
nav ul li{

  list-style: none;
  display: inline-block;
}
nav ul li a{

  display: block;
  color: white;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 7.5px;
  font-family:sans-serif ;
  font-weight: bold;
}

nav ul li a:hover{
  transition: .6s;
  color: black;



}
/* NOTE: Menu button */
.menuBtDiv{

  width: 100%;
  box-sizing: border-box;
  display: none;
  padding: 20px;
  padding-bottom: 35px;
  padding-top: 8px;

}

.mButton{

  color: white;
  float: right;
  padding: 5px;
  cursor: pointer;
}


.show{
  display: block;

}

.navButton{
background:#004a80;text-align:center;color:white;font-size:17px;
padding: 2px 5px;
border-radius: 7px;  font-weight: bold;
  font-family:sans-serif ;
margin-right: 5px;
}

.navButton2{
background:#ed242e;text-align:center;color:white;font-size:17px;
padding: 2px 5px;
border-radius: 7px;  font-weight: bold;
  font-family:sans-serif ;
}
/* NOTE: End menu */
/* NOTE: New header */

.headerM{
  background: url(images/new_bk.png)center center no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  height: 820px;
}
.stePN{
  margin-top: 15%;

}
.mapSampl{

  margin-top: -45px;
}

.hederExBtn{

  color: white;
  font-size: 22px;
  border:1px solid white;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.hederExBtn:hover{
  text-decoration: none;
  background: black;
  box-shadow: 2px 2px white;
  transition: 2s;
  color:white;
}

.headerM h1{
  font-family: 'shahriarFavFont';
  font-size: 4rem;
  color:white;
}



/* NOTE: Slide */

.carousel-item img{
  height: 100vh;
}
.innerSliderI {
  background: #000000b5;
  position: absolute;
  width: 53%;
  height: 100%;
  overflow: hidden;
  top: 0;
  border: 0;
  left: 0;

  transform-origin: top right;
  -ms-transform: skew(-10deg, 0deg);
  -webkit-transform: skew(-10deg, 0deg);
}
/* .innerSliderI:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #000000b5;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);

} */
@keyframes slide {
  0% {
    opacity: .1;
    margin-top: -45%;
  }
  10% {
    opacity: .1;
    margin-top: -40%;
  }
  20% {
  opacity: .5;
    margin-top: -35%;
  }
  30% {
  opacity: .6;
    margin-top: -25%;
  }
  40% {
  opacity: .6;
    margin-top: -20%;
  }
  50% {
  opacity: .7;
    margin-top: -15%;
  }
  60% {
  opacity: .8;
    margin-top: -10%;
  }
  70% {
  opacity: .9;
    margin-top: -5%;
  }
  80% {
  opacity: .9;
    margin-top: -2%;
  }
  100% {
          opacity: 1;
            margin-top: 0%;
  }
}

@keyframes leftSlide {
  0% {
    text-rendering: optimizeSpeed;

    overflow: inherit;
    text-transform: full-width;
    margin-left: -100%;
  transition: none;
  }
  10% {


    margin-left: -80%;
  }
  30% {


    margin-left: -60%;
  }
  30% {


    margin-left: -60%;
  }

  50% {


    margin-left: -40%;
  }
  60% {


    margin-left: -30%;
  }
  70% {


    margin-left: -20%;
  }
  100% {

            margin-top: 0%;
  }
}
.innerSliderI h1{
  display: inline-block;
  color: white;
  padding-top:20%;
  padding-left: 5%;
  -ms-transform: skew(10deg, 0deg);
  -webkit-transform: skew(10deg, 0deg);
  font-family: 'Luckiest Guy', cursive;
  font-size: 4rem;

  animation: slide .5s forwards;
}
.innerSliderI p{
  font-family: Viga;
  padding: 45px;
  margin-left: 45px;
  -ms-transform: skew(10deg, 0deg);
  -webkit-transform: skew(10deg, 0deg);
  -ms-transform: skew(10deg, 0deg);
  -webkit-transform: skew(10deg, 0deg);

/* animation: leftSlide 1.5s forwards; */
  color: white;
}
.innerSliderI a{
  font-family: 'shahriarFavFont';
  display: inline-block;
  color: white;
  border: 2px solid white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 125px;
    transform-origin: top right;
  -ms-transform: skew(10deg, 0deg);
  -webkit-transform: skew(10deg, 0deg);
}
.innerSliderI a:hover{
  text-decoration: none;
  background: orange;
  color:black;
}



/* NOTE: End slide */

/* .headerContainer{
  background: url(images/pexels-photo-841286.jpeg) no-repeat;
  background-size:cover;
  height: 100vh;
}

nav{
  background: #1fc0d457;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom-right-radius: 6px;
border-bottom-left-radius: 9px;


}



nav img{


}
nav h6{
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;

  color: white;
}
nav i {
    padding-top: 5px;
} */

@font-face {
  src: url('font/ufonts.com_avant-g-bold.ttf');
  font-family: 'shahriarFavFont';
}

.hero{
    font-size: 65px;
  font-family: 'shahriarFavFont';
  margin-top: 32%;
  text-shadow: 2px 2px 9px black;
  color: white;
}

/* NOTE: Form */
.formSection{
    margin-top: 14%;

}
form{
  background: #161616ab;;
  /* background: #00000080; */
  padding: 10px;
  width: 350px;
  margin-left: 22%;
  border-radius: 8px;
}
form label{
  color: white;
  font-family: "shahriarFavFont";
}
input {
  width: 230px;
  background:transparent;
  border:2px solid white;
  border-radius:6px;
  margin: 10px;
  color: white;
}
input:hover{
    box-shadow: 2px 2px 4px yellow;
}

.submitBtn{
    font-family: "shahriarFavFont";
  margin-top: 35px;
  margin-bottom: 25px;
  padding:10px;

  text-align: center;
  color: white;
  background:transparent;
  border:2px solid white;
  border-radius:6px;
}
.submitBtn:hover{
    background: #1fc0d457;
}

/* NOTE: Prcing  */

.priceTitleBg{
  margin-top: 65px;
  font-family: 'Merienda', cursive;
  font-size: 45px;
  color:black;
  text-align: center;
}
.priceTitleBg::before{
  content: '';
  width: 180px;
  height: 2px;
  background: black;
  position: absolute;
  top:0;
  bottom: 0;
}

.prcingHeaderP{
  text-align: center;
  width: 750px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.onePr{
  background: #dbc88e;
  border-radius: 9px;
  box-shadow: 2px 2px 4px #d7cfcc;
}
.onePr img{
  width: 100%;
border-radius: 9px;
  background-size: cover;
  height: 250px;
}

.textPricingIn {
  color: white;
  margin-top: 25px;
  width:300px;display:flex;
  text-align: right;
}
.disCountCall{
  color:white;font-family:'shahriarFavFont';font-size:55px;
  text-align:center;padding-top:85px;
}

/* NOTE: Tour */
.tourMainWarp{
  padding:45px
}
.tours{
  background: url(images/bkForPrice.jpg)center no-repeat;
  background-size: cover;
}
.wrapperDivofTour img{
  width: 100%;
  height: 250px;
}

.tours h1{
  margin-top:45px;
  font-family:'san-serif';
  color: black;
  font-family: 'Viga', sans-serif;
  font-size: 43px;
  text-align: center;
}

.textOfTour p{
    font-family: fantasy;
    font-size: 20px;
    text-align: center;

}

.smallBarTr{
    height: 2px;
    margin: 0 auto;
    width: 60%;
    background: #dbbd60;
}

.TourIneerbox{
  position: absolute;
  width:93%;
  color:white;
  height: 250px;
  top:0;
  bottom:0;
  background: #00000094;
}
.checked{
  color:orange;
}
.linkInbox{
  position: absolute;
  padding: 9px;
    bottom: 0;
    color: white;
    font-size: 22px;
    font-family: 'shahriarFavFont';
    text-align: center;
}
.linkInbox:hover{
  text-decoration: none;
  color:#dbc88e;
}
.linkInLine{
  position: absolute;

    bottom: -12px;
    color: black;
    right: 0;
    color: #e78f40;
    font-size: 19px;
    padding-right: 9px;
    text-align: center;
}
/* NOTE: Counter portion */

.counter{
  width: 100%;
  display: block;
}

.width25{
  width: 25%;
  float: left;
  margin: 0 auto;
  color: white;
  text-align: center;

  padding: 25px;

}
.width25 h2{
  font-size: 65px;
}
.width25 p{
  font-size: 35px;
  font-family: fantasy;
}

.marketingN{
  width: 100%;
}


/* NOTE: HexaGon */

.boxPadding{
  padding: 50px;
  background: #ebebeb;
  width: 70%;

  margin: 0 auto;
  text-align: center;
  margin-top:20%;
  border-radius: 9px;
  box-shadow: 1px 1px 3px #ebebeb;
}
.textInDummy:before{
  content: '';
  width: 200px;
  height: 2px;
  background: black;
  position: absolute;
  top:0;
  display: inherit;
  z-index: 1;
  bottom: 10px;
 transform: rotate(-15deg);;
}
.textInDummy::after{
  content: '';
  width: 200px;
  height: 2px;
  background: black;
  position: absolute;
transform: rotate(-15deg);
  right: 0;
  bottom:0;
}
    #hexagon {
      margin: 0 auto;
      margin-top:20%;
      width: 100px;
      height: 55px;
      background: black;
      position: relative;
      color: white;
    }
    #hexagon:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid black;
    }
    #hexagon:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid black;
    }

/* NOTE: Work process */
.weWork{
  padding: 25px;
  background: #e9e7e8;
    text-align: center;
}
.weWork h1{

  font-family: 'shahriarFavFont';
  font-size: 3rem;
  color: black;
}
.innerProcess h1{


  font-family: 'shahriarFavFont';
  font-size: 8rem;
  color: #b2aaaa;

  z-index: -1;
}
.roundCircle{
  display: inline-block;
    z-index: 2;
  margin: 0 auto;

  width: 250px;
  height: 250px;
  background: #4d7ea2b5;
  border-radius: 50%;
}
.roundCircle p{
  font-family:  fantasy;
  color: #313031;
  font-size: 33px;
  padding: 25%;
}

.round2{
  background: #bfb74cb5;

}
.round3{
  background: #b74c73c9;

}
.round4{
  background:#4d9a94c2;

}
.round1H1{
    margin-bottom: -60px;
    margin-top: 60%;
}
.round2H1{
    margin-bottom: -65px;
  margin-top: 40%;
}
.round3H1{
    margin-bottom: -70px;
  margin-top: 20%;
}
.round4H1{
  margin-bottom: -75px;
  margin-top: 5%;
}

.weWorkFP{
  margin-top: -35px;
  font-family: "shahriarFavFont";
  font-size: 7rem;
  color: #b2aaaa;
  text-align: right;
}

/* NOTE: Screw up */

.paralala{
  margin-top: -70px;
      width:100%;
  height: 600px;

/*     -webkit-transform: skewY(-10deg);
       -moz-transform: skewX(10deg);
         -o-transform: skew(30deg);
       transform-origin: top right ;
      */
      transform: rotate(5deg) skew(5deg);;
    background: red;
    overflow:hidden;
    position:relative;
}
.imageScrw{

  background: url('images/bg_low.jpeg')center center;
  background-size: cover;
height: 800px;
    position:absolute;
    top:-70px;
    left:-30px;
    right:-30px;
    bottom:-30px;
    text-align: center;
    margin: 0 auto;
    transform:  rotate(-5deg) skew(-5deg);;
        /* -webkit-transform: skewY(10deg);
               -moz-transform: skewY(-10deg);
         -o-transform: skewY(-20deg); */
}
.imageScrw::before{
  z-index: -1;
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000078;
}
.innerPara h1{
  color: white;
  font-family: 'shahriarFavFont';
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin-top: 17%;
}
.innerPara p{
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding-bottom: 35px;
}
.journry{

  color: white;
  padding-left:45px;
  padding-right:45px;
  padding-top:10px;
  padding-bottom:10px;
  background: transparent;
  font-style: italic;
  font-family: sans-serif;
  font-size: 25px;

  border: 1px solid white;
  box-shadow: 2px 2px 4px white;
}
.journry:hover{
  box-shadow: 0px 0px 4px white;
  text-decoration: none;
  background: white;
  color: black;
  transition: 1s;
}

/* NOTE: Team */

.innerTeam img{
  width: 100%;

}

.imageGuide{

  background: url("images/guide (1).jpeg");
  width: 100%;
  height: 560px;

}
.imageGuide2{
  background: url("images/guide (2).jpeg");
  background-size: cover;
}
.imageGuide3{
  background: url("images/guide (3).jpeg")center center;
  background-size: cover;

}
.NameBarGuide{

  width:100%;
  height: 70px;
  padding: 10px;
  font-size: 35px;
  background: #8d895c;
  font-family: "shahriarFavFont";
  color: white;

  margin: 0 auto;;
  text-align: center;

  /* margin-top: -45px; */
  bottom:0;
  z-index: 2;
}
.NameBarGuide h2{

}

/* NOTE:  */
.parent {

overflow: hidden;
    position: relative;
	cursor: pointer;

}

.child {


    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.parent:hover .child, .parent:focus .child {

    transform: scale(1.2);
}

/* NOTE:  */
.teamPading{
  padding: 55px;
}
.innerTeamHover{
  color: white;
display: none;
  position: absolute;
  width:100%;
  height: 100%;
  font-size: 45px;
  text-align: center;
  padding: 45px;
  top:0;
  z-index: 1;
  bottom: 0;
  background: #000000c2;
}

/* NOTE: Footer */
footer{
  background: #323231;
}
.footerForm {
  margin: 0 auto;
  width: 100%;
  background: transparent;
  margin: 0 auto;
  text-align: center;
}
.inputEMail{
  width: 60%;
  height: 55px;
  color: white;
  font-size: 20px;

}
.submitB{
  width: 100px;
  height: 55px;
  font-family: 'shahriarFavFont';
  color: white;
  font-size: 20px;
}

.lowerSide{
  background: #3e3e39;
}

.innerFooter h5{
  color: white;
  font-family: 'shahriarFavFont';
  font-size: 25px;
  padding-top: 35px;
  text-align: center;
}

.innerFooter li{
  list-style: none;
  color: white;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;

  margin-left: 40%;
}
.addressIn h3{
    color: white;
    font-family: 'shahriarFavFont';
    font-size: 35px;
    text-align: center;
}
.addressIn p{
  color: white;
  font-family: sans-serif;
      font-size: 15px;
      text-align: center;
}

.Partner{
  padding: 35px;
  color: White;
  text-align: center;
  background: #3e3e39;
}

.hderLogoMobile{
  display: none;
}

.beforeFooter{
  background: #683b5a;
  width: 100%;
  height: 80px;
}

.partImage{
  padding-top: 35px;
  width: 200px;
  margin: 0 auto;

}

@media (max-width:720px) {

  .hderLogoMobile{
    display: block;
    width: 150px;
    height: 60px;
    padding: 5px;
  }

  .innerLogo{
    display: none;
  }
  .caaa{

    width: 50px;
  }

  .caaaa{

    width: 60px;
  }
  .mobileTHide{
    display: none;
  }


  .menuBtDiv{
     display: block;

   }
   .mButton{
     margin-top: 14px;
     padding-left: 10px;
     padding-right: 10px;
     border: 1px solid white;
   }
   .mButton:hover {
     color: #ff5252;
     transition: .5s;

   }


   nav{

     padding: 0px;

   }
   nav ul{

     float: none;
     display: none;
   }
     nav ul li{
       display: block;

     }
   nav ul li a{
     padding: 10px;
     text-align: center;
   }
   nav ul li a.active,
   nav ul li a:hover{
     background: #c9222a;
     color: black;

   }

  /* NOTE: End menu */
   .navButton{
       text-align: center;
   margin-left: 30%;


   }

   .navButton2{

    text-align: center;
   }

  /* NOTE: End menu */
  .carousel-item img{
    height: 750px;
  }
  .innerSliderI{
    ms-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
        width: 70%;
  }
  .innerSliderI h1{
    font-size: 38px;
    -ms-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
  }

  .innerSliderI p {
    -ms-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    font-family: Viga;
    padding: 10px;
    color: white;
}
.innerSliderI a{
  -ms-transform: skew(0deg, 0deg);
  -webkit-transform: skew(0deg, 0deg);
}
/* NOTE: End slide */

.stePN{
  margin-top: 45%;

}
.mapSampl{

  margin-top: -45px;
  width: 100%;
    margin-bottom: 45px;
}
.hederExBtn{
}

.prcingHeaderP{
    width: 100%;
}
.onePr{
    margin-bottom: 35px;
}
.disCountCall{
  color:white;font-family:'shahriarFavFont';font-size:35px;
  text-align:center;padding-top:38px;
}

.tourMainWarp{
  padding: 0px;
}

/* NOTE: Counter */

.width25{
  width: 100%;
  float: none;
  margin: 0 auto;
  color: white;
  text-align: center;

  padding: 25px;

}
.boxPadding{
  padding: 5px;
    width: 100%;


  justify-content: center;
}


/* NOTE: We work */
.round1H1{
    margin-bottom: -60px;
    margin-top: 5%;
}
.round2H1{
    margin-bottom: -65px;
  margin-top: 6%;
}
.round3H1{
    margin-bottom: -70px;
  margin-top: 7%;
}
.weWorkFP{
  margin-top: -35px;
  font-family: "shahriarFavFont";
  font-size: 42px;
  padding: 45px;
  color: #b2aaaa;
  text-align: center;
}
/* NOTE: Para */

.innerPara h1{

  font-size: 2rem;
  margin-top: 50%;
}
.innerPara p{
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 19px;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content:

  text-align: center;
  padding-bottom: 35px;
}

  /* NOTE: Foote */

  .innerFooter li{

    text-align: left;
    padding-left: 5%;
  }
.teamPading{
  padding: 5px;
}


}
